#!/bin/bash

# This file will source 3 files, if your USERNAME is larry:

# source .envrc._before   # sources some ENV vars that are likely to be overwritten (eg CHANGEME) or meaningful defaults.
# source .envrc.larry     # has all Larry info
# source .envrc._after    # sources ENV vars which are a byproduct of the previous ones (eg, Terraform used vars with slightly different names)


############################################
# To be sourced BEFORE
############################################
source_env_if_exists .envrc._before

############################################
# This is the main dish: YOUR CONFIG.
############################################

# Option 1: you record '.envrc.$YOURLDAP'. You can then add
# your config and 'donate' to your colleagues. This is ugly as
# it has some private keys (or links to them).
source_env_if_exists ".envrc.$USER"

# just because Im the maintainer :P
source_env_if_exists ".envrc.riccardo"

# Option 2. If you dont want to check it out, use the LOCAL version which is
# in .gitignore :)
source_env_if_exists ".envrc.local"

############################################
# To be sourced AFTER
############################################
source_env_if_exists .envrc._after

# silencing this comment unless DEBUG=TRUE
#if [ 'TRUE' = "$DEBUG" ]; then
    echo "🌱 [.envrc] PROJECT_ID=$PROJECT_ID"
    echo "🌱 [.envrc] APP_VERSION=$APP_VERSION"
    echo "🌱 [.envrc] RAILS_ENV=$RAILS_ENV"
#fi
