<p style="color: green"><%= notice %></p>

<h1><%= @kids.count %> Kids</h1>

<div class="container text-center">
  <div class="row">
    <% @kids.each do |kid| %>
    <div class="col">
      <%= render(partial: "kids/bootstrap_show", locals: {kid: kid}) rescue "Erore #{$!}" %>
    </div>
    <% end %>
  </div>
</div>

<%= link_to "#{Kid.emoji} New kid", new_kid_path %>
