<div id="<%= dom_id story_template %>">
  <p>
    <tt>  <%= link_to story_template.short_code,story_template %></tt>

    <strong>Description:</strong>
    <%= story_template.description %>
  </p>
  <p>
    <strong>Template:</strong>
    <%= render_colored_story_template_template(story_template) %>
  </p>

<!--


  <p>
    <strong>Internal notes:</strong>
    <%#= story_template.internal_notes %>
  </p>

  <p>
    <strong>User:</strong>
    <%#= link_to( story_template.user,story_template.user) if story_template.user %>
  </p>
-->
</div>
