<h1>Editing story template</h1>

<%= render "form", story_template: @story_template %>

<br>

<div>
  <%= link_to "Show this story template", @story_template %> |
  <%= link_to "Back to story templates", story_templates_path %>
</div>
