<h1>Editing translated story</h1>

<%= render "form", translated_story: @translated_story %>

<br>

<div>
  <%= link_to "Show this translated story", @translated_story %> |
  <%= link_to "Back to translated stories", translated_stories_path %>
</div>
