<span class="border border-primary">
<% if( not attachment.nil?) and attachment.attached? %>
    <%=  image_tag(attachment, style: 'width:20%;', class: "img-fluid img-thumbnail") %>
<% else  %>
    <i>no image</i>
<% end rescue "SOME ERR $!" %>
</span>
