<%
  @magic_content = 'You are a salesman who wants to pitch Ruby for Generative AI.
  Please describe this GenAI application written on Ruby on Rails, as a majestic breakthrough
   in GenAI and how Ruby is going to become the most loved language.'

   # (from https://github.com/rootstrap/htmx-rails )
%>
<main>
 <h1>Help</h1>

 <p>Welcome to <b><%= APP_NAME %></b>, an app which is inspired by my colleague and friend Guillaume (yes! The inventor of Groovy)</p>

 <p>
  I'm currently testing HTMX to generate responsive content (top then embroid the whole app for all GenAI content as its slow).
 </p>


<%= render "pages/about_the_author_json" %>

<%= render "pages/about_the_app_genai" %>
