<!-- moving all old stuff here as HTMX should solve the problem -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    // $(document).ready(function(){
    //   $("button").click(function(){
    //     $.ajax({url: "demo_test.txt", success: function(result){
    //       $("#div1").html(result);
    //     }});
    //   });
    // });

    $.ajax({
    url: '/pages/help', // '< % = index_path % >',
    method: 'GET',
    success: function(response) {
        // Process the server response
        updateLiveContent(response.data);
    }
    });
</script>

<h2>Putting all garbage here</h2>

This is help 2, where I paste lal garbage from help  to make it faster..

<h3>Prova delayed partial</h3>

<p>This uses JS with id=#'live-update-placeholder'</p>

<p>1</p>
<%= content_tag :p, 'ciao',  id: 'live-update-placeholder' %>
<p>3</p>


-- <i>(Yours, Vertex AI Palm API)</i>
</main>
