<%
  @magic_content = 'You are a salesman who wants to pitch Ruby for Generative AI.
  Please describe this GenAI application written on Ruby on Rails, as a majestic breakthrough
   in GenAI and how Ruby is going to become the most loved language.'

%>
<main>
 <h1>Help</h1>

 <p>Welcome to <b><%= APP_NAME %></b>, an app which is inspired by my colleague and friend Guillaume (yes! The inventor of Groovy)</p>

<h2>About this app</h2>

TODO - make this responsive using HTMX.
HTMX button ...
<button hx-post="/clicked"
    hx-trigger="click"
    hx-target="#parent-div"
    hx-swap="outerHTML"
>
    Click Me!
</button>

<pre id="parent-div">🔶 This should be substituted upon click by some GenAI content gotten from /click endpoint..</pre>


<% markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, autolink: true, tables: true) %>
<%#= markdown.render("This is *bongos*, indeed.").html_safe %>
<h2>AI dynamic Content</h2>
<div id='genai_content' ><%=
 extend Genai::AiplatformTextCurl ;
 genai_markdown = ai_curl_by_content(@magic_content)[1] rescue "💔 Some Error in generation: **#{$!}**. Should have made up a story around: \n###MagicContent\n\n *'#{@magic_content}'*"

 markdown.render(genai_markdown).html_safe
%></div>
