<% ts_id = TranslatedStory.first.id  %>
<!-- inside app/views/welcome/index.html.erb -->
<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light"><%= APP_NAME %> v<kbd><%= APP_VERSION %></kbd> </h1>
        <p class="lead text-muted">
          Welcome to a Kids Story generator using <b>GenAI</b> from
          <a href='https://cloud.google.com/vertex-ai/docs/generative-ai/start/quickstarts/api-quickstart' >Google Vertex AI Palm API</a>
        <p>
          <a href="/stories" class="btn btn-primary my-2">All Stories</a>
          <a href="https://github.com/palladius/genai-kids-stories" class="btn btn-warning my-2">Code on GitHub</a>
          <a href="https://cloud.google.com/vertex-ai/docs/generative-ai/start/quickstarts/api-quickstart" class="btn btn-danger my-2">GenAI API quickstart</a>
          <a href="/translated_stories/<%= ts_id %>?style=carousel" class="btn btn-success my-2">I'm feeling lucky!</a>
        </p>

<%= image_tag('A_old_wise_and_fun_storyteller_holding_a_big_red_ge_funny.png',  class: "rounded img-fluid") %>
<!--
    <button type="button"
            class="btn btn-lg btn-danger"
            data-bs-toggle="popover"
            title="Popover title"
            data-bs-content="Amazing content, right ?">
            Click to toggle popover
    </button>

    <br/>Code copied from https://bootrails.com/blog/rails-7-bootstrap-5-tutorial/
-->
      </div>
    </div>
  </section>

</main>
