/*
Porting here what was in application.css now deleted by bootstrap..
*/

.debug {
    background-color: aquamarine;
 }

/* https://stackoverflow.com/questions/26973570/setting-a-max-character-length-in-css 00 */
p.beautified-paragraph {
   /* white-space: nowrap; */
   overflow: hidden;
   text-overflow: ellipsis;
   max-width: 400px;
 }
 .wrapper {
   padding: 20px;
   background: #fff7af;
   max-width: 400px;
   margin: 10px auto;
 }

 .demo-1 {
   overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
 }

 .demo-2 {
   overflow: hidden;
   /* white-space: nowrap; */
   text-overflow: ellipsis;
   max-width: 150px;
 }


/* https://css-tricks.com/almanac/properties/i/initial-letter/ */
/* .subhead {
  initial-letter: 2;
} */
.subhead::first-letter {
  initial-letter: 3;
}

.story {
  font-size: large;
}







/* CSS from https://getcssscan.com/css-buttons-examples */
.button-34 {
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}


/* Carousel  smaller https://stackoverflow.com/questions/28589911/bootstrap-change-carousel-height  */
.my-carousel .carousel-inner {
  width: 80%; /* Adjust the width as per your requirement */
  height: 300px; /* Adjust the height as per your requirement */
  margin: 0 auto; /* Centers the carousel horizontally */
}

.my-carousel .carousel-item {
  height: 100%; /* Adjust the item height as per your requirement */
}

.my-carousel .carousel-item img {
  max-height: 100%; /* Ensures the images fit within the item */
  object-fit: contain; /* Adjusts the image display within the item */
}

.my-carousel .carousel-caption {
  background-color: rgba(0, 0, 0, 0.7); /* Adds a semi-transparent background to the caption */
  color: #fff; /* Sets the text color to white */
  padding: 10px; /* Adjust the padding as per your preference */
}
